.card{
  background-color: var(--primarty-color);
  width: 600px;

}

input[type=text] ,input[type=email]{
  height: 60px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
}

.btn-sub
{
  height: 58px;
   border:none ;
   font-size: 13px;
   background-color: var(--primarty-color);
}


