@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');



::root
{
  --primarty-color:#036367;
  --secondary-color:#E3F3EA;
  --body-text-color :#596392 ;
  --navbar-footer-color :#F9F9F9 .

}


body{
  font-family :'Roboto',sans-serif;
  font-size: 12px;
  color: var(--body-text-color)
}

.nav-link
{
  color : var(--primarty-color);
}

.shadow-effect{
  border :none ;
  box-shadow: 0px 0px 33px -10px rgba(71,114,254,0.3);
}

.card{
  background-color:var(--secondary-color);
}


